---
layout: ""
page_title: "Provider: Etcd"
description: |-
  The Etcd provider provides resources to interact with an etcd server API.
---

# Etcd Provider

The Etcd provider provides resources to interact with an etcd server API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
